/*
Project Name: Project #
Description: This project is to create ?
Author: your name
Version: 1.0
License: 

Tags: (optional)

General comments (optional)

Table of Contents in CSS
1. Global
2. Links
3. Headings
4. Header
5. Navigation
6. Middle
7. Forms
8. Extras
9. Footer
*/

/* 1. Global */
html,body  { 
  margin: 0;
  padding: 0;
  font-family: 'Permanent Marker', cursive;
  }
/* 2. Links */

/* 3. Headings */

/* 4. Header */

/* 5. Navigation */

/* 6. Middle */

#content {
	position: fixed;
	width: 100%;
}
#stage {
	position: absolute;
	height: 900px;
	width: 1500px;
	top: 10px;
	left: 1%;
	background-color: #A2DCEF;
	background-image: url('../images/background.png');
	overflow: hidden;
}
#nav {
	position: absolute;
	top: 910px;
	left: 10px;
	z-index: 100;
}
#dotNav li {
	list-style-type: none;
	float: left;
	height: 40px;
	width: 200px;
	margin-right: 85px;
	background-color: blue;
	color: yellow;
	text-align: center;
	font-size: 1.5em;
	padding:5px;
	padding-top: 8px;
	border-style: solid;
	box-shadow: 10px 10px 5px #000;
	font-weight: 600;
}
.captions {
	position: absolute;
	height: 30px;
	width: 600px;
	text-align: center;
	font-size: 2em;
	left: 300px;
	bottom:-100px;
	text-shadow: 0 0 3px yellow;
}
#cap18 {	
	height: 900px;
	width: 1500px;
	left: 0;
	top: 0;
	background-color: #A2DCEF;
	line-height: 27;
	font-size: 2em;
	display: none;
}
#cap18:hover {	
	height: 900px;
	width: 1500px;
	left: 0;
	top: 0;
	background-color: #A2DCEF;
	line-height: 13;
	font-size: 4em;
}
.objLeft {
	position: absolute;
	/*left:-101%;*/
}
.objDown {
	position: absolute;
	/*bottom:-101%;*/
}
.objRight {
	position: absolute;
	/*right:-101%;*/
}
.obj2 {
	position: absolute;
}
#start {
	height: 50px;
	width: 150px;
	font-size: 2em;
	text-align: center;
	background-color: yellow;
	display: none;
	border-style: solid;
	box-shadow: 10px 10px 5px #000;
}
#start:hover {
	height: 60px;
	width: 160px;
	font-size: 2.5em;
	cursor: pointer;
	box-shadow: 0 0 0 5px #3071A9;
}
#restart {
	height: 50px;
	width: 180px;
	font-size: 2em;
	text-align: center;
	background-color: yellow;
	display: none;
	border-style: solid;
	box-shadow: 10px 10px 5px #000;
}
#restart:hover {
	height: 60px;
	width: 210px;
	font-size: 2.5em;
	cursor: pointer;
	box-shadow: 0 0 0 5px #3071A9;
}

#attack {
	width: 301px;
	height: 187px;
	background-image: url('../images/attack.png');
	top: 550px;
	left:100px;
	display: none;
}
#teddy {
	width: 254px;
	height: 274px;
	background-image: url('../images/teddy.png');
	top: 105px;
	right: -330px;
}
#redteddy {
	width: 254px;
	height: 274px;
	background-image: url('../images/teddy2.png');
	top:105px;
	right:-330px;
	display: none;
}
#patch2 {
	width: 479px;
	height: 268px;
	background-image: url('../images/patch.png');
	top: 210px;
	right: -480px;
}
#hero2 {
	width: 384px;
	height: 903px;
	background-image: url('../images/hero2.png');
	top: 1000px;
	left: 550px;
}
#umby2 {
	width: 334px;
	height: 356px;
	background-image: url('../images/umby2.png');
	top: 1000px;
	left: 150px;
}
#pokeball {
	width: 134px;
	height: 130px;
	background-image: url('../images/pokeball.png');
	top: 600px;
	left:-150px;
}
#pokeball:hover {
	cursor: pointer;
}
#teddy2 {
	width: 254px;
	height: 274px;
	background-image: url('../images/teddy.png');
	right:-330px;
}
#umby {
	width: 329px;
	height: 377px;
	background-image: url('../images/umby.png');
	top:600px;
	left:-400px;
}
#hero {
	width: 188px;
	height: 751px;
	background-image: url('../images/hero1.png');
	top: 200px;
	left: -200px;
}
#patch1 {
	width: 479px;
	height: 268px;
	background-image: url('../images/patch.png');
	top: 560px;
	left: -470px;
}
#grass {
	width: 1500px;
	height: 367px;
	background-image: url('../images/grass.png');
	top:535px;
}
#tallgrass {
	width: 330px;
	height: 383px;
	background-image: url('../images/tallgrass.png');
	bottom: -101%;
	left: 940px;
}
#tallgrass:hover {
	cursor: pointer;
}



/* 7. Forms */

/* 8. Extras */

/* 9. Footer */